Plugins>BrainCadet, "TreeDelinPHD", com.braincadet.ndelin.multi.MTracker

#"SMC-PF", com.braincadet.ndelin.single.STracker
#"DemoKmeans", com.braincadet.ndelin.fun.DemoKmeans
#"DemoClustering", com.braincadet.ndelin.fun.DemoClustering
#"AutoThresholder", com.braincadet.ndelin.fun.Thresholder
#"MotionModel", com.braincadet.ndelin.demo.DemoMotionModel